<% form_for(@img, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :uploaded_picture, "upload a picture" %><br />
    <%= f.file_field :uploaded_picture %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit "start upload" %>
  </div>
<% end %>
