<h1>welcome</h1>

we have <%= link_to pluralize(@total_pictures, "picture"), imgs_path %>.
<%= link_to 'upload', :controller => 'imgs', :action => 'new' %>
<%= link_to 'delete account', user_path(session[:user_id]), :method => :delete %>
<%= link_to 'profile', :action => 'edit' %>
<%= link_to 'logout', :action => 'logout' %>
